[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Gameboy C-like compiler, assembler and linker. No Lex, no Yacc, everything is done by hands. (WIP)
[access "refs/*"]
	owner = group user/Pierre-Alexandre Pousset (pea-pousset)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Pierre-Alexandre Pousset (pea-pousset)
	label-Verified = -1..+1 group user/Pierre-Alexandre Pousset (pea-pousset)
	push = group user/Pierre-Alexandre Pousset (pea-pousset)
	read = group user/Pierre-Alexandre Pousset (pea-pousset)
	rebase = group user/Pierre-Alexandre Pousset (pea-pousset)
	removeReviewer = group user/Pierre-Alexandre Pousset (pea-pousset)
	submit = group user/Pierre-Alexandre Pousset (pea-pousset)
[access "refs/heads/*"]
	create = group user/Pierre-Alexandre Pousset (pea-pousset)
	push = +force group user/Pierre-Alexandre Pousset (pea-pousset)
	pushMerge = group user/Pierre-Alexandre Pousset (pea-pousset)
	read = group user/Pierre-Alexandre Pousset (pea-pousset)
[access "refs/tags/*"]
	push = group user/Pierre-Alexandre Pousset (pea-pousset)
	push = +force group user/Pierre-Alexandre Pousset (pea-pousset)
